.msg-header {
   clear: both;
   background-color: #EEF;
}

.director_name{
   font-size: 10px;
   margin-right: 10em;
   padding-right: 10em;
}

.minutes {
   font-size: 12px;
   color: gray;
}

.language {
   display:inline;
   float: right;
   padding-right: 15px;
   font-size: 14px;
}
.genre {
   display:inline;
   float: right;
   padding-right: 15px;
   font-size: 10px;
}

.background {
   width: 100%;
   font-size: 18px;
}

.delete {
   display: inline;
   float: right;
}

.selected {
   background-color: #52ff59;
}
